.img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.imgContainer {
    width: 250px;
    height: 250px;
    display: flex;
    margin: 50px auto;
    padding: 10px 20px;
}
.cardContainer {
    max-width: 400px;
}

.inputContainer {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    place-content: center;
    gap: 75px;
}

.price, .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.cardContainer p {
    font-weight: bold;
}

.decrement, .increment {
    padding: 10px 16px;
    font-size: 22px;
    background-color: blue;
    border-radius: 10px;
}

.input {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: inherit;
}

.addButton {
    padding: 15px 32px;
    background: lightgreen;
    font-weight: bold;
    font-size: 22px;
    border-radius: 15px;
}

.title {
    max-width: 250px;
}