*, *::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

#root {
  /* max-width: 1280px; */
  text-align: center;
  height: 100%;
}

*, *::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
html, body {
  min-height: 100%;
}

ol {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
nav {
  background-color: darkmagenta;
  padding: 25px 45px;
}

/* main {
  display: grid;
  grid-template-columns: 300px 1fr;
} */